# Today 's Concepts

## String

  ### properties:
    - immutable
    - ordered data
    - slicing
## List : collection of  hetrogenenouse different types of datatyples 
  ### propertices
    - mutable
    - ordered data
    - slicing
# Tuple
# Dictionary
# sets

In [54]:
# String 
s = 'python programming'
s[0]
len(s)
s[0:6]

'python'

In [3]:
s = 'python programming'
s[0]
len(s)
s[7:18]

'programming'

In [4]:
s = 'Vaddi Neeraja'
s[0]
len(s)
s[0:5]

'Vaddi'

In [22]:
s = 'python programming'
s[0:18:2]
s[4:15:5]
s[5:0:-1]
s[18:7:-1]

'gnimmargor'

In [23]:
# palindrome
s1='madam'
if s1 ==s1[::-1]:
    print('is palindrome string')
    
else:
    print('not a palindrome string')

is palindrome string

In [24]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [27]:
# capitalize
s = "vaddis"
s.capitalize()

'Vaddis'

In [28]:
# title
str = 'hello neeru'
str.title()

'Hello Neeru'

In [31]:
s = 'abd123'
s.isdigit()

False

In [36]:
s = '12345'
s.isdigit()

True

In [40]:
# count method

s='neeraja vaddi'
print(s.count('e'))

2

In [44]:
# upper 
s = 'akhilcj6'
s.upper()

'AKHILCJ6'

In [50]:
# swapcase
s='JithuzZ'
s.swapcase()

'jITHUZz'

## List : collection of  hetrogenenouse different types of datatyples 
  ### propertices
    - mutable
    - ordered data
    - slicing

In [68]:
list=[123,'neeru',True]
list[0]
list[2]
list[1:10]

['neeru', True]

In [71]:
print(dir(li))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [81]:
# count
l = [1,1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,5,5]
l.count(5)

7

In [87]:
# pop method
l=[1,2,3,4,5,6,7,8,9,0]
l.pop(6)

7

In [89]:
# remove
l=[1,2,3,4,5,6,7,8,9,0]
l.remove(5)
l

[1, 2, 3, 4, 6, 7, 8, 9, 0]

In [92]:
# sort adder
l=['abc','123']
l.sort()
l

['123', 'abc']

In [93]:
l=[0,7,5,9,8,4,3]
l.sort()
l

[0, 3, 4, 5, 7, 8, 9]

In [103]:
l = [1,2,0,4,7,6,7]
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

[1, 2, 0, 4, 7, 6]

In [3]:
s = '123'
li = list(s)
for i in li:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
s = '123'
li = list(s)
for i in li:
    print((i))

1
2
3

In [5]:
s = '123'
li = list(s)
li

['1', '2', '3']

In [6]:
s = '123'
li = list(s)
s = 0
for i in li:
    s+=int(i)
    #print(i)
print(s)

6

In [1]:
# Dynamic values
n=int(input("enter num of elements: "))
li=[]
for i in range(n):
    li.append(input("enter list of elements: "))
li

enter num of elements: 5
enter list of elements: pace
enter list of elements: college
enter list of elements: neeraja
enter list of elements: vaddi
enter list of elements: 598

['pace', 'college', 'neeraja', 'vaddi', '598']

# Tuples : Colection of  of hetrogenous elements
- immutable
## Syntax --> ()
declaration of Tuple : 
Variable name =()

In [2]:
t=()
type(t)

tuple

In [14]:
t=(1,2,3,'Neeru',1.0,False)
t[2]
t=(1,2,3,'Neeru',1.0,False)
t[-2]

1.0

In [18]:
# slicing
t=(1,2,3,'Neeru',1.0,False)
t[1:4]

(2, 3, 'Neeru')

In [20]:
t=(0,1,2,3,'Neeru',1.0,False)
t[0:5]

(0, 1, 2, 3, 'Neeru')

In [23]:
# data type tuple methods
print(dir(t))
dir(tuple)
b=()
dir(b)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# methods of tuple

In [29]:
# count
t=(0,1,2,3,'Neeru',1.0,False)
t.count(1)
t.count(0)

2

In [32]:
# find
a='Neeraja'
b=a.find('e')
print(b)
c=a.index('e')
print(c)

1
1

In [35]:
# tuple packing and unpacking
emp=('Neeru','598','tcs') 


(name,empid,company)=emp
print(name)
print(empid)
print(company)

Neeru
598
tcs

# Dictionaries
# dictionay is an unordered collection of hetrogenous pair of key and values
# key is fixed and values will be change
# syntax -->{}
 - dictionary declaration
 - variablename={'key'.'value'}
## Another way to declare dictionary
 - variablename['key']='value'

In [36]:
address={'name':'akhil','place':'ongole'}
type(address)

dict

In [38]:
address={'name':'akhil','place':'ongole'}
address['pincode']=523226
type(address)

dict

In [11]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [40]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [41]:
address.values()

dict_values(['akhil', 'ongole', 523226])

In [42]:
address.items()

dict_items([('name', 'akhil'), ('place', 'ongole'), ('pincode', 523226)])

In [43]:
address.get("place")

'ongole'

In [46]:
address2={'place':"chimakurthy",'pincode':523226,'dr.no':'8-4/7'}
address={'name':'neeru','place':'Chimakurthy'}
address.update(address2)
address

{'name': 'neeru', 'place': 'chimakurthy', 'pincode': 523226, 'dr.no': '8-4/7'}

In [7]:
string = input('enter a string')
alphabets = digits = special = 0
al=[]
dig=[]
schar=[]
for i in range(len(string)):
    if(string[i].isalpha()):
        alphabets=alphabets+1
        al.append(i)
    elif(string[i].isdigit()):
        digits=digits+1
        dig.append(int(i))
    else:
        special=special+1
        schar.append(i)
print("In total number of Alphabets in this string: ",alphabets)
print("Total number of Digits in this string: ", digits)
print("Total number of Special characters in this string: ",special)

enter a stringneerahja@123
In total number of Alphabets in this string:  8
Total number of Digits in this string:  3
Total number of Special characters in this string:  1

In [12]:
# uniqlist count method
l = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,4,4,4,4,4]
li = list(set(l))
d={}
for i in l:
    d[i] = l.count(i)
d

{1: 5, 2: 4, 3: 5, 4: 5}

In [21]:
a=input('enter a string')
char=[]
dig=[]
for i in  range(a):
    if i.isdigit():
        dig.append(i)
    else:
        char.append(i)
print(dig)
print(char)

enter a string19kq1a0598

TypeError: 'str' object cannot be interpreted as an integer

In [17]:
l=[1,2,3]
l.append([1,2,3])
l

[1, 2, 3, [1, 2, 3]]